<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE calendar [<!ATTLIST day date ID #IMPLIED>
]>
<root>
   
<day date="22.12.2015"><note>asd</note></day><day date="16.12.2015">
    
     
        <event time="16:00">
        <text>asdfff</text>
    </event> 
</day></root><!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->