<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE calendar [
<!ATTLIST day date ID #IMPLIED>  
]>


<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<root>
  <day date="16.12.2015">
   <note>lol</note> 
    <event time="11:28">
        <text>asd</text>
    </event> 
        <event time="16:00">
        <text>asdfff</text>
    </event> 
</day> 
</root>
