.root {
    -fx-background-color: linear-gradient(to bottom, #d3e5ec, #94aaff);
}

.gridCell {
    -fx-background-color: #e2e9ff;
    -fx-border-insets: 0 0 0 0;
}

.gridCell.hasEvent {
    -fx-border-insets: 1 1 1 1;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #FF0000;
}

.gridCell.unimportant {
    -fx-background-color: #cccccc;
}

.gridCell.selectedDay {
    -fx-background-color: #eff3ff;
}

.gridCell.selectedDay.unimportant {
    -fx-background-color: #999999;
}

.label {
    -fx-font: bold 23px "System";
    -fx-text-fill: #3e3e3e;
}

.gridCell .today {
    -fx-text-fill: #6600cc;
}

.dayLabel {
    -fx-font: 15px "System";
}
